@use "../global";

#nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #232536;
  z-index: 10;
  .nav__container {
    display: flex;
    justify-content: space-between;
    .nav__cont--left {
      margin-top: 27px;
      cursor: pointer;
    }
    .nav__cont--right {
      margin-top: 27px;
      ul {
        display: flex;
        column-gap: 32px;
        li {
          position: relative;
          &::before {
            content: "";
            background-color: #ffa155;
            position: absolute;
            top: -27px;
            left: 0;
            width: 0;
            height: 3px;
            transition: 0.3s ease-in-out;
          }
          &:hover::before {
            background-color: #ffa155;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
          }
          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            opacity: 0.6;
            &:hover {
              color: #fff;
              opacity: 1;
              transition: 0.3s;
            }
          }
          .nav--link {
            color: #fff;
            opacity: 0.6;
            &:hover {
              color: #ffd3af;
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .toggle {
      display: none;
      margin-top: 20px;
      #navbar-open {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border: 2px solid #fff;
        background-color: #232536;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}

#navbar-responsive {
  display: none;
}

<<<<<<< HEAD
/// main start ///

#code {
  padding-top: 130px;
}

.code__container--top {
  display: flex;
  justify-content: space-between;
  .top__left {
    width: 24px;
    height: 24px;
    background: #ffd3af;
    transform: rotate(-90deg);
  }
}

.code__container--center {
  .code__center--content {
    padding-top: 30px;
    text-align: center;
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 58px;
      color: #232536;
      padding-bottom: 24px;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #232536;
      opacity: 0.87;
    }
  }
  .user {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      opacity: 0.87;
      margin-left: 20px;
      margin-top: 7px;
    }
    span {
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #232536;
      padding-top: 8px;
    }
  }
}

.code__container--bottom {
  padding-top: 50px;
  padding-bottom: 50px;
  img {
    width: 100%;
  }
}

.text__container--text {
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 54px;
    color: #232536;
    text-align: justify;
  }
  p {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    padding-top: 28px;
    text-align: justify;
  }
  .h4 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
    padding-top: 30px;
  }
  .h3 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
    padding-top: 30px;
  }
}

/// responsive ////
///

@media (min-width: 800px) {
  #code {
    padding-top: 170px;
  }
  .code__container--top {
    padding-left: 25px;
    padding-right: 25px;
  }

  .code__center--content {
    h1 {
      max-width: 550px;
      text-align: justify;
      margin-left: 30px;
    }
    p {
      max-width: 630px;
      padding-left: 25px;
      text-align: justify;
    }
    .user {
      img {
        margin-left: 30px;
      }
      p {
        margin-left: 0;
      }
      span {
        padding-left: 16px;
=======
// media

@media (max-width: 1285px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 32px;
          .f__top--left {
            h5,
            h3 {
              text-align: center;
            }
          }
        }
      }
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
        }
>>>>>>> 80a6c84eabc236094df009a5c3b12e866ed32b7b
      }
    }
  }
}
<<<<<<< HEAD
.code__container--bottom {
  padding-top: 100px;
  img {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.content {
  display: flex;
  justify-content: center;
}
.text__container--text {
  h1 {
    padding-top: 60px;
    max-width: 650px;
  }
}

=======

@media (max-width: 1000px) {
  #nav {
    .nav__container {
      .nav__cont--right {
        display: none;
      }
      .toggle {
        display: block;
      }
    }
  }
  #navbar-responsive {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100vh;
    width: 50vw;
    padding-top: 85px;
    background-color: #232536c3;
    transition: 0.5s;
    z-index: 20;
    .nav__container {
      position: relative;
      .nav__cont--right {
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          li {
            a {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #ffffff;
              &:hover {
                color: #ffa155;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .toggle {
        position: absolute;
        top: -65px;
        right: 0;
        #navbar-close {
          width: 40px;
          height: 40px;
          font-size: 20px;
          border: 2px solid #fff;
          background-color: #232536;
          font-size: 22px;
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 910px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 700px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 600px;
          .f__top--left {
            h5 {
              font-size: 13px;
            }
            h3 {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 400px;
          .f__top--left {
            h5 {
              font-size: 13px;
            }
            h3 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #footer {
    .footer__container {
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
          .f__cont--top--right {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-row-gap: 32px;
            margin-bottom: 42px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 300px;
          padding: 76px;
          .f__top--left {
            h5 {
              font-size: 12px;
            }
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  #last__footer {
    .f__cont--bottom--bottom {
      display: grid !important;
      grid-template-columns: auto;
      grid-row-gap: 15px;
      justify-content: center;
      .f__cont--bottom--left,
      .f__cont--bottom--right {
        display: grid;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 420px) {
  #footer {
    .footer__container {
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
          .f__cont--top--left {
            h2 {
              text-align: center;
              font-size: 40px;
            }
            h5 {
              text-align: center;
            }
            .adress {
              display: grid;
              justify-content: center;
              h6,
              h5,
              p {
                text-align: center;
              }
            }
          }
          .f__cont--top--right {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-row-gap: 32px;
            margin-bottom: 42px;
            .right__card1 {
              ul {
                li {
                  text-align: center;
                }
              }
            }
            .right__card2 {
              h6,
              p {
                text-align: center;
              }
            }
            .right__card3 {
              padding-bottom: 32px;
              h6,
              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 260px;
          padding: 56px;
          .f__top--left {
            h5 {
              font-size: 12px;
            }
            h3 {
              font-size: 16px;
            }
          }
          .f__top--right {
            form {
              #email {
                font-size: 14px;
              }
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
        .footer__cont--top--right {
          .page-position {
            width: 10px;
          }
        }
      }
    }
  }
}
>>>>>>> 80a6c84eabc236094df009a5c3b12e866ed32b7b
