@use "../global";

#nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #232536;
  z-index: 10;
  .nav__container {
    display: flex;
    justify-content: space-between;
    .nav__cont--left {
      margin-top: 27px;
      cursor: pointer;
    }
    .nav__cont--right {
      margin-top: 27px;
      ul {
        display: flex;
        column-gap: 32px;
        li {
          position: relative;
          &::before {
            content: "";
            background-color: #ffa155;
            position: absolute;
            top: -27px;
            left: 0;
            width: 0;
            height: 3px;
            transition: 0.3s ease-in-out;
          }
          &:hover::before {
            background-color: #ffa155;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
          }
          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            opacity: 0.6;
            &:hover {
              color: #fff;
              opacity: 1;
              transition: 0.3s;
            }
          }
          .nav--link {
            color: #fff;
            opacity: 0.6;
            &:hover {
              color: #ffd3af;
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .toggle {
      display: none;
      margin-top: 20px;
      #navbar-open {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border: 2px solid #fff;
        background-color: #232536;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}

#navbar-responsive {
  display: none;
}

// main

.container {
  display: flex;
  gap: 100px;
  .trending {
    padding-top: 96px;
    .box {
      width: 24px;
      height: 24px;
      background-color: #ffd3af;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      color: #000000;
      padding: 24px 0px;
    }
    h1 {
      font-size: 48px;
      font-weight: 600;
      line-height: 58px;
      letter-spacing: 0px;
      color: #232536;
    }
    h6 {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      color: #232536;
      padding: 24px 0px;
    }
    .read_more {
      display: flex;
      h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        color: #444cfc;
      }
    }
    .Andrew_Jonson {
      display: flex;
      gap: 12px;
      padding: 44px 0px 52px;
      h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: #232536;
      }
      .box1 {
        border: 1px solid rgba(0, 0, 0, 0.2);
        transform: rotate(0deg);
      }
      h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: #232536;
      }
    }
  }
  .men_3 {
    background-color: #ffdfc6;
    margin-top: 96px;
    height: 700px;
    .card_1 {
      padding: 52px 75px 16px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        color: #232536;
      }
      .logo_1 {
        display: flex;
        gap: 12px;
        h2 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #232536;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #232536;
          }
        }
      }
    }

    .card_2 {
      padding: 52px 75px 16px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        color: #232536;
      }
      .logo_2 {
        display: flex;
        gap: 12px;
        h2 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #232536;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #232536;
          }
        }
      }
    }
    .card_3 {
      padding: 52px 75px 16px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        color: #232536;
      }
      .logo_3 {
        display: flex;
        gap: 12px;
        h2 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #232536;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #232536;
          }
        }
      }
    }
  }
}

.container {
  .bolimlar {
    display: flex;
    margin-top: 100px;
    padding-bottom: 96px;
  }
  .bolim_1 {
    .cards_1 {
      display: flex;
      margin-top: 32px;
      .content_1 {
        background-color: #f9f9ff;
        padding: 32px;
        height: 250px;
        h1 {
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          color: #232536;
        }
        .logo_1 {
          display: flex;
          padding: 32px 0px;
          gap: 12px;
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
    }
  }
}

.cards_2 {
  display: flex;
  margin-top: 32px;
  .content_2 {
    background-color: #f9f9ff;
    padding: 32px;
    height: 250px;
    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0px;
      color: #232536;
    }
    .logo_2 {
      display: flex;
      padding: 32px 0px;
      gap: 12px;
      h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        color: #232536;
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0px;
          color: #232536;
        }
      }
    }
  }
}

.bolim_2 {
  padding: 0px 32px;
  .cards_3 {
    display: flex;
    margin-top: 32px;
    .content_3 {
      background-color: #f9f9ff;
      padding: 32px;
      height: 250px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        color: #232536;
      }
      .logo_3 {
        display: flex;
        padding: 32px 0px;
        gap: 12px;
        h2 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #232536;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #232536;
          }
        }
      }
    }
  }
  .cards_4 {
    display: flex;
    margin-top: 32px;
    .content_4 {
      background-color: #f9f9ff;
      padding: 32px;
      height: 250px;
      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        color: #232536;
      }
      .logo_4 {
        display: flex;
        padding: 32px 0px;
        gap: 12px;
        h2 {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          color: #232536;
          span {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0px;
            color: #232536;
          }
        }
      }
    }
  }
}

.containe {
  background-color: #f9f9ff;
  h1 {
    color: #232536;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: 0px;
    padding: 94px 0px 64px;
    margin-left: 120px;
  }
  .section {
    .section_1 {
      display: flex;
      margin-left: 120px;
      gap: 32px;
      padding: 32px 0px;
      .section_card_1 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_1 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
      .section_card_2 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_2 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
      .section_card_3 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_3 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
    }
    .section_2 {
      display: flex;
      gap: 32px;
      margin-left: 120px;
      .section_card_1 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_1 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
      .section_card_2 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_2 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
      .section_card_3 {
        background-color: #ffffff;

        h2 {
          color: #232536;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0px;
          padding: 32px 32px 16px;
        }
        p {
          color: #232536;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          padding: 0px 32px;
        }
        .logo_3 {
          margin-top: -30px;
          display: flex;
          align-items: center;
          padding: 32px 0px;
          gap: 12px;
          img {
            margin-left: 35px;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #232536;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0px;
              color: #232536;
            }
          }
        }
      }
    }
  }
}

// media

@media (max-width: 1285px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 32px;
          .f__top--left {
            h5,
            h3 {
              text-align: center;
            }
          }
        }
      }
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #nav {
    .nav__container {
      .nav__cont--right {
        display: none;
      }
      .toggle {
        display: block;
      }
    }
  }
  #navbar-responsive {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100vh;
    width: 50vw;
    padding-top: 85px;
    background-color: #232536c3;
    transition: 0.5s;
    z-index: 20;
    .nav__container {
      position: relative;
      .nav__cont--right {
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          li {
            a {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #ffffff;
              &:hover {
                color: #ffa155;
                transition: 0.5s;
              }
            }
          }
        }
      }
      .toggle {
        position: absolute;
        top: -65px;
        right: 0;
        #navbar-close {
          width: 40px;
          height: 40px;
          font-size: 20px;
          border: 2px solid #fff;
          background-color: #232536;
          font-size: 22px;
          color: #fff;
          cursor: pointer;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 910px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 700px;
        }
      }
    }
  }
}

@media (max-width: 780px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 600px;
          .f__top--left {
            h5 {
              font-size: 13px;
            }
            h3 {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 400px;
          .f__top--left {
            h5 {
              font-size: 13px;
            }
            h3 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #footer {
    .footer__container {
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
          .f__cont--top--right {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-row-gap: 32px;
            margin-bottom: 42px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 300px;
          padding: 76px;
          .f__top--left {
            h5 {
              font-size: 12px;
            }
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  #last__footer {
    .f__cont--bottom--bottom {
      display: grid !important;
      grid-template-columns: auto;
      grid-row-gap: 15px;
      justify-content: center;
      .f__cont--bottom--left,
      .f__cont--bottom--right {
        display: grid;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 420px) {
  #footer {
    .footer__container {
      .footer__cont--bottom {
        .f__cont--bottom--top {
          display: grid;
          grid-template-columns: auto;
          grid-row-gap: 42px;
          .f__cont--top--left {
            h2 {
              text-align: center;
              font-size: 40px;
            }
            h5 {
              text-align: center;
            }
            .adress {
              display: grid;
              justify-content: center;
              h6,
              h5,
              p {
                text-align: center;
              }
            }
          }
          .f__cont--top--right {
            display: grid;
            grid-template-columns: repeat(1, auto);
            grid-row-gap: 32px;
            margin-bottom: 42px;
            .right__card1 {
              ul {
                li {
                  text-align: center;
                }
              }
            }
            .right__card2 {
              h6,
              p {
                text-align: center;
              }
            }
            .right__card3 {
              padding-bottom: 32px;
              h6,
              p {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #footer {
    .footer__container {
      .footer__cont--top {
        .footer__cont--top--left {
          width: 260px;
          padding: 56px;
          .f__top--left {
            h5 {
              font-size: 12px;
            }
            h3 {
              font-size: 16px;
            }
          }
          .f__top--right {
            form {
              #email {
                font-size: 14px;
              }
              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
        .footer__cont--top--right {
          .page-position {
            width: 10px;
          }
        }
      }
    }
  }
}
