@use "../global";

body {
  background: #e5e5e5;
}

#nav {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #232536;
  z-index: 10;
  .nav__container {
    display: flex;
    justify-content: space-between;
    .nav__cont--left {
      margin-top: 27px;
      cursor: pointer;
    }
    .nav__cont--right {
      margin-top: 27px;
      ul {
        display: flex;
        column-gap: 32px;
        li {
          position: relative;
          &::before {
            content: "";
            background-color: #ffa155;
            position: absolute;
            top: -27px;
            left: 0;
            width: 0;
            height: 3px;
            transition: 0.3s ease-in-out;
          }
          &:hover::before {
            background-color: #ffa155;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
          }
          a {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            opacity: 0.6;
            &:hover {
              color: #fff;
              opacity: 1;
              transition: 0.3s;
            }
          }
          .nav--link {
            color: #fff;
            opacity: 0.6;
            &:hover {
              color: #ffd3af;
              opacity: 1;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .toggle {
      display: none;
      margin-top: 20px;
      #navbar-open {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border: 2px solid #fff;
        background-color: #232536;
        font-size: 22px;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}

#navbar-responsive {
  display: none;
}

/// main start ////
///

#contact {
  padding-top: 120px;
}

.left__lg {
  display: flex;
  justify-content: space-between;
}
.left__lg--content {
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.87;
    padding-bottom: 12px;
  }
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 58px;
    color: #232536;
    padding-bottom: 12px;
  }
  .p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.87;
    padding-bottom: 42px;
  }
  //   label {
  //     display: block;
  //   }
  //   input {
  //     width: 100%;
  //     border: none;
  //     border: 1px solid black;
  //   }
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  //   width: 190px;
}

.form-control input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #232536;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #232536;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #666dff;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #232536;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #666dff;
  transform: translateY(-30px);
}

.last-one {
  textarea {
    width: 100%;
    border: 0;
    color: #232536;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    background-color: transparent;
    border-bottom: 1px solid #232536;
  }
  textarea:focus {
    border: 0;
    border-bottom-color: #666dff;
  }
}
.btn {
  padding-top: 20px;
}

button {
  background: linear-gradient(180deg, #444cfc 0%, #444cfc 100%);
  padding: 5px;
  position: relative;
  width: 200px;
  height: 54px;
  transition: 0.5s;
  font-size: 17px;
  border: none;
}
button p {
  position: absolute;
  top: 1.3em;
  left: 1.8em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: white;
}

button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

button:hover p {
  left: 0.6em;
  color: #fff;
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: #bc2a8d;
}
