@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  display: flex;
  gap: 100px;
}
.container .trending {
  padding-top: 96px;
}
.container .trending .box {
  width: 24px;
  height: 24px;
  background-color: #ffd3af;
}
.container .trending p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 3px;
  color: #000000;
  padding: 24px 0px;
}
.container .trending h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  color: #232536;
}
.container .trending h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
  padding: 24px 0px;
}
.container .trending .read_more {
  display: flex;
}
.container .trending .read_more h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #444cfc;
}
.container .trending .Andrew_Jonson {
  display: flex;
  gap: 12px;
  padding: 44px 0px 52px;
}
.container .trending .Andrew_Jonson h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .trending .Andrew_Jonson .box1 {
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: rotate(0deg);
}
.container .trending .Andrew_Jonson h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 {
  background-color: #ffdfc6;
  margin-top: 96px;
  height: 700px;
}
.container .men_3 .card_1 {
  padding: 52px 75px 16px;
}
.container .men_3 .card_1 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_1 .logo_1 {
  display: flex;
  gap: 12px;
}
.container .men_3 .card_1 .logo_1 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_1 .logo_1 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_2 {
  padding: 52px 75px 16px;
}
.container .men_3 .card_2 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_2 .logo_2 {
  display: flex;
  gap: 12px;
}
.container .men_3 .card_2 .logo_2 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_2 .logo_2 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_3 {
  padding: 52px 75px 16px;
}
.container .men_3 .card_3 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_3 .logo_3 {
  display: flex;
  gap: 12px;
}
.container .men_3 .card_3 .logo_3 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .men_3 .card_3 .logo_3 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}

.container .bolimlar {
  display: flex;
  margin-top: 100px;
  padding-bottom: 96px;
}
.container .bolim_1 .cards_1 {
  display: flex;
  margin-top: 32px;
}
.container .bolim_1 .cards_1 .content_1 {
  background-color: #f9f9ff;
  padding: 32px;
  height: 250px;
}
.container .bolim_1 .cards_1 .content_1 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_1 .cards_1 .content_1 .logo_1 {
  display: flex;
  padding: 32px 0px;
  gap: 12px;
}
.container .bolim_1 .cards_1 .content_1 .logo_1 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_1 .cards_1 .content_1 .logo_1 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_1 .cards_2 {
  display: flex;
  margin-top: 32px;
}
.container .bolim_1 .cards_2 .content_2 {
  background-color: #f9f9ff;
  padding: 32px;
  height: 250px;
}
.container .bolim_1 .cards_2 .content_2 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_1 .cards_2 .content_2 .logo_2 {
  display: flex;
  padding: 32px 0px;
  gap: 12px;
}
.container .bolim_1 .cards_2 .content_2 .logo_2 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_1 .cards_2 .content_2 .logo_2 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 {
  padding: 0px 32px;
}
.container .bolim_2 .cards_3 {
  display: flex;
  margin-top: 32px;
}
.container .bolim_2 .cards_3 .content_3 {
  background-color: #f9f9ff;
  padding: 32px;
  height: 250px;
}
.container .bolim_2 .cards_3 .content_3 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 .cards_3 .content_3 .logo_3 {
  display: flex;
  padding: 32px 0px;
  gap: 12px;
}
.container .bolim_2 .cards_3 .content_3 .logo_3 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 .cards_3 .content_3 .logo_3 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 .cards_4 {
  display: flex;
  margin-top: 32px;
}
.container .bolim_2 .cards_4 .content_4 {
  background-color: #f9f9ff;
  padding: 32px;
  height: 250px;
}
.container .bolim_2 .cards_4 .content_4 h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 .cards_4 .content_4 .logo_4 {
  display: flex;
  padding: 32px 0px;
  gap: 12px;
}
.container .bolim_2 .cards_4 .content_4 .logo_4 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.container .bolim_2 .cards_4 .content_4 .logo_4 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}

.containe {
  background-color: #f9f9ff;
}
.containe h1 {
  color: #232536;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
  padding: 94px 0px 64px;
  margin-left: 120px;
}
.containe .section .section_1 {
  display: flex;
  margin-left: 120px;
  gap: 32px;
  padding: 32px 0px;
}
.containe .section .section_1 .section_card_1 {
  background-color: #ffffff;
}
.containe .section .section_1 .section_card_1 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_1 .section_card_1 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_1 .section_card_1 .logo_1 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_1 .section_card_1 .logo_1 img {
  margin-left: 35px;
}
.containe .section .section_1 .section_card_1 .logo_1 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_1 .section_card_1 .logo_1 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_1 .section_card_2 {
  background-color: #ffffff;
}
.containe .section .section_1 .section_card_2 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_1 .section_card_2 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_1 .section_card_2 .logo_2 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_1 .section_card_2 .logo_2 img {
  margin-left: 35px;
}
.containe .section .section_1 .section_card_2 .logo_2 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_1 .section_card_2 .logo_2 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_1 .section_card_3 {
  background-color: #ffffff;
}
.containe .section .section_1 .section_card_3 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_1 .section_card_3 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_1 .section_card_3 .logo_3 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_1 .section_card_3 .logo_3 img {
  margin-left: 35px;
}
.containe .section .section_1 .section_card_3 .logo_3 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_1 .section_card_3 .logo_3 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 {
  display: flex;
  gap: 32px;
  margin-left: 120px;
}
.containe .section .section_2 .section_card_1 {
  background-color: #ffffff;
}
.containe .section .section_2 .section_card_1 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_2 .section_card_1 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_2 .section_card_1 .logo_1 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_2 .section_card_1 .logo_1 img {
  margin-left: 35px;
}
.containe .section .section_2 .section_card_1 .logo_1 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 .section_card_1 .logo_1 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 .section_card_2 {
  background-color: #ffffff;
}
.containe .section .section_2 .section_card_2 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_2 .section_card_2 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_2 .section_card_2 .logo_2 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_2 .section_card_2 .logo_2 img {
  margin-left: 35px;
}
.containe .section .section_2 .section_card_2 .logo_2 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 .section_card_2 .logo_2 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 .section_card_3 {
  background-color: #ffffff;
}
.containe .section .section_2 .section_card_3 h2 {
  color: #232536;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
  padding: 32px 32px 16px;
}
.containe .section .section_2 .section_card_3 p {
  color: #232536;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0px 32px;
}
.containe .section .section_2 .section_card_3 .logo_3 {
  margin-top: -30px;
  display: flex;
  align-items: center;
  padding: 32px 0px;
  gap: 12px;
}
.containe .section .section_2 .section_card_3 .logo_3 img {
  margin-left: 35px;
}
.containe .section .section_2 .section_card_3 .logo_3 h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #232536;
}
.containe .section .section_2 .section_card_3 .logo_3 h2 span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: #232536;
}